<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appSettings>
		<!-- 用几个数据库及实例化方式-->
		<add key="MetadataKind" value="4" />
		<!-- 客户数据库类型-->
		<add key="DataBaseType" value="1" />
		<!-- 项目标识，区分session-->
		<add key="UserLoginSign" value="natureMgr" />
		<!-- cookies 加密的密钥-->
		<add key="UserLoginKey" value="97322830" />
		<!-- 分页控件使用的一个密钥-->
		<add key="PagerSQLKey" value="22234830" />

		<!-- sso端的访问网址，不加斜杠-->
		<add key="SSOURL" value="http://LCNatureSSO.nature.com" />
		<!-- 各种资源的网址（js、css、元数据、数据访问、权限等），不加斜杠-->
		<add key="ResourceURL" value="http://LCNatureResource.nature.com" />
		<!-- 设置统一分配的网站应用ID 自然框架支撑平台-->
		<add key="WebappID" value="1" />
		<!-- 网站应用端加密解密app端票据的密钥-->
		<add key="AppKey" value="5d4u1e2d" />
		<!-- True：输出调用步骤；False：不输出调用步骤-->
		<add key="Debug" value="True" />
		<!-- True：服务端输出调用步骤；True：写记录。False：不写记录-->
		<add key="DebugSsoLog" value="False" />

	</appSettings>
	<connectionStrings>
		<!-- 分别是访问客户数据库、元数据数据库、角色数据库、用户数据库-->
		<!-- 综合考虑，简化一下数据库的配置。用户用用户中心的用户，其他的用户信息，用客户数据库里的用户信息-->
		<!-- 客户+用户 = 数据库，元数据 + 角色 = 数据库-->
	 	<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Mango_UCenter;persist security info=False;user id=sa;pwd=MangoSqlsa;" providerName="System.Data.SqlClient" />
		<add name="CnStringMeta" connectionString="Data Source=.;Initial Catalog=NatureFW_Meta;persist security info=False;user id=sa;pwd=MangoSqlsa;" providerName="System.Data.SqlClient" />
		<add name="CnStringRole" connectionString="Data Source=.;Initial Catalog=NatureFW_Meta;persist security info=False;user id=sa;pwd=MangoSqlsa;" providerName="System.Data.SqlClient" />
		<add name="CnStringUser" connectionString="Data Source=.;Initial Catalog=Mango_UCenter;persist security info=False;user id=sa;pwd=MangoSqlsa;" providerName="System.Data.SqlClient" />

		<add name="CnStringMeta1" connectionString="Provider=Microsft.Ace.OLEDB.12.0 Extended Properties=Excel 12.0;Data Source=|DataDirectory|MetaDataTmp.mdb;" providerName="System.Data.OleDb" />
		<add name="CnStringRole1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|RoleTmp.mdb;Jet OLEDB:Database Password=" providerName="System.Data.OleDb" />

	</connectionStrings>
    <system.web>
		<pages>
			<!--注册自定义控件-->
			<controls>
				<!--分页控件-->
				<add assembly="Nature.UI.WebControl.QuickPager" namespace="Nature.UI.WebControl.QuickPager" tagPrefix="Nature" />
				<!--注册基础控件，文本框、下拉列表框等-->
				<add assembly="Nature.UI.WebControl.BaseControl" namespace="Nature.UI.WebControl.BaseControl.TextBox" tagPrefix="Nature" />
				<add assembly="Nature.UI.WebControl.BaseControl" namespace="Nature.UI.WebControl.BaseControl.List" tagPrefix="Nature" />
				<!--注册元数据控件-->
				<add assembly="Nature.UI.WebControl.MetaControl" namespace="Nature.UI.WebControl.MetaControl" tagPrefix="Nature" />
			</controls>
		</pages>
        <compilation debug="true" tempDirectory="t:\root"></compilation>
		<customErrors mode="Off" />

		<!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
        <authentication mode="Windows" />
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="404" subStatusCode="0" path="/" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/json" />
        </staticContent>
    </system.webServer>

</configuration>
